<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statystyki</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="openFilters()">
        <ion-icon icon="filter-outline" slot="start"></ion-icon>
        Filtry
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Statystyki</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="openFilters()">
          <ion-icon icon="filter-outline" slot="start"></ion-icon>
          Filtry
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div [hidden]="!statisticsData">
    <ion-card>
      <ion-card-content>
        <canvas #chartCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
