ion-menu-button {
  color: var(--ion-color-primary);
}

ion-card {
  margin: 20px;
}

.container {
  display: flex;
  width: 100%;
}

.container-item {
  flex: 1 auto;
}

.buttons-container {
  margin: 20px;
}
